<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <title>SignupPage-TheStarDelivery</title>
    <link rel="stylesheet" href="style.css">

	

    
</head>

<body>

    <header>
	<div class="logo" ><center>The Star Delivery</center></div>
	</header>
	
	<br/>
	
    <div class="container">
    
        <div class="col-md-12 text-center">
			<h1 class="fontLogin">Register</h1>
		</div>
		
        <form action="http://localhost:5000/user/signup" method="post">
            <label for="InputUsername">Username</label>
			<input type="text" name="unm" id="InputUsername" class="form-control" placeholder="Enter username" required><br/>
			<label for="InputPassword">Password</label>
 			<input type="password" name="psd" id="InputPassword"  class="form-control"  placeholder="Enter Password" required><br/>
 			<label for="InputName">Name</label>
 			<input type="text" name="nm" id="InputName"  class="form-control"  placeholder="Enter Name" required><br/>
 			<label for="Inputemail">Email</label>
 			<input type="text" name="email" id="InputEmail"  class="form-control"  placeholder="Enter e-mail" required><br/>
			
            
            <div class="col-md-12 text-center "> 
                <p><input type="submit" class="button" value="submit" /></p>
            </div>
        </form> 
    </div>
    
    <footer class="footer">
		<div style="text-align:center;padding:10px;margin-top:7px;">© copyright The Star Delivery</div>
	</footer>
</body>

<script>
    function getInfo(){
    var username = document.getElementById("InputUsername").value
    var password = document.getElementById("InputPassword").value
    if(username == "admin" && password == "admin"){
        console.log("your username is "+ username + " and your password is "+ password)
        }else{
        console.log("wrong username or password")
        alert("invalid username or wrong password")
        }
    }
    </script>
</html>